doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../../utils/normalize.css")
    link(rel="stylesheet", href="./style.scss")
    title Document
  body 
    div.wrapper
      div.chat-menu
        div.chat-menu__header
          .input
            svg.input__icon
                use(xlink:href='../../assets/sprite.svg#search')
            input(type="text", placeholder="Поиск").search-input

          a.button.button--add(href="../profileSetting/index.pug")
            svg.button__icon 
              use(xlink:href="../../assets/sprite.svg#profile")
        ul.chat-menu__body
          
      main.main 
        div.main__header
          div.main__header-left 
            img.chat-avatar(src="../../assets/img/message-img.jpeg")
          div.main__header-middle
            div.chat-name Сергеева Елизавета
          div.main__header-right
            button.button.dropdown
              svg.button__icon 
                use(xlink:href="../../assets/sprite.svg#setting")
              .dropdown-content
                .dropdown-content__item.dropdown-content__item--add-user Добавить пользователя
                .dropdown-content__item.dropdown-content__item--delete-user Удалить пользователя
        div.main__body

        div.main__footer
          div.main__footer-left
            button.button.button--add
              svg.button__icon 
                use(xlink:href="../../assets/sprite.svg#attach")
          div.main__footer-middle
            textarea(placeholder="Начните ввод").message-input
          div.main__footer-right
            button.button.button--add
              svg.button__icon 
                use(xlink:href="../../assets/sprite.svg#send")
  
      div.menu-chat 
        div.menu-chat__header 
        div.menu-chat__body 
        div.menu-chat__footer 

  script(src="./index.js") 