body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Roboto',
    'Helvetica Neue',
    Geneva,
    'Noto Sans Armenian',
    'Noto Sans Bengali',
    'Noto Sans Cherokee',
    'Noto Sans Devanagari',
    'Noto Sans Ethiopic',
    'Noto Sans Georgian',
    'Noto Sans Hebrew',
    'Noto Sans Kannada',
    'Noto Sans Khmer',
    'Noto Sans Lao',
    'Noto Sans Osmanya',
    'Noto Sans Tamil',
    'Noto Sans Telugu',
    'Noto Sans Thai',
    sans-serif,
    arial,
    Tahoma,
    verdana;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.button {
  display: flex;
  background: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 3px;

  &__icon {
    height: 20px;
    width: 20px;
    fill: #b5b5b5;
  }
}

.chat-menu {
  width: 320px;
  overflow: hidden;
  padding-bottom: 10px;
  border-right: 1px solid #ececec;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    border-bottom: 1px solid #ececec;
    padding: 10px;
    margin-bottom: 10px;
  }

  &__body {
    overflow: auto;
    margin: 0;
    padding: 0 10px;
    flex: 1 0 auto;
    max-height: calc(100vh - 65px);
  }
}

.chat-avatar {
  vertical-align: middle;
  background: rgb(92, 92, 92);
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.main {
  display: flex;
  background: #fbfcff;
  flex: 1 0 auto;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #ececec;
  }

  &__header-left {
    display: flex;
    align-items: center;
  }

  &__header-middle {
    display: flex;
    align-items: center;
    margin: 0 10px;
    width: 100%;
  }

  &__header-right {
    display: flex;
    align-items: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    padding: 10px 20px 10px 10px;
    overflow: auto;

    .fix {
      flex: 1 1 auto;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    background: #fff;
    border-top: 1px solid#ececec;
    padding: 0 10px;
  }

  &__footer-middle {
    margin: 10px;
    width: 100%;
  }
}

.input {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 80%;

  &__icon {
    height: 20px;
    width: 20px;
    fill: #b5b5b5;
    padding: 3px;
  }
}

.search-input {
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 14px;
  background: #fff;
  box-sizing: border-box;
}

.message-input {
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 7px 10px;
  font-size: 14px;
  background: #fff;
  box-sizing: border-box;
  resize: none;
  height: 30px;
  max-height: 5em;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 60%;
  right: 50%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 12px;
  text-align: left;
  border-radius: 5px;

  &__item {
    padding: 10px 10px;
    cursor: pointer;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}
