@import '../../style/variables.scss';

.input-component {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 13px;

  &__input {
    border: 1px solid #e6e8e9;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 5px;
    font-size: 14px;

    &--error {
      border-color: $error;
    }

    &--success {
      border-color: $success;
    }
  }

  &__warning {
    margin-top: 5px;
    color: $warning;
  }
}
