.button {
  color: #105fd4;
  text-align: center;
  padding: calc(1em / 2) calc(1em * 2);
  box-sizing: border-box;
  border-radius: 5px;

  &--secondary {
    color: #105fd4;
    padding: 5px 0;

    &:hover {
      color: darken(#105fd4, 2%);
    }
  }

  &--primary {
    background: #105fd4;
    color: #fff;

    &:hover {
      background: darken(#105fd4, 2%);
    }

    &:active {
      background: darken(#105fd4, 3%);
    }
  }
}
