doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./utils/normalize.css")
    link(rel="stylesheet", href="./style.scss")
    title Sign In
  body 
    div.wrapper
      header.header 
        h2.logo Chatao
      main.main 
        div.auth-form
          h2.auth-form__title Sign In 
          label.input-component Login
            input(type="text" placeholder="Enter youre login" name="login").input-component__input
          label.input-component Password
            input(type="password" placeholder="Enter youre password" name="password").input-component__input
          a.button.button--primary.auth-form__button(href="./pages/home/index.pug") Sign In
          a.auth-form__create-account.link(href="./pages/signUp/index.pug") Create an account
      footer.footer 
        div.footer-links
          a.footer__link.link(href="./pages/500/index.pug") Vk
          a.footer__link.link(href="./pages/404/index.pug") Telegramm
          a.footer__link.link(href="#") GiHub
          a.footer__link.link(href="./pages/pagesList/index.pug") Список всех страниц
          
    script(src="./login.js") 